@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

:root {
  --blue-color: rgb(93, 161, 211);
  --text-color: #f5f5f5;
  --background-color: #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

html,
body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}


/*** Home Section Styles ***/
.home-text {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text img {
  width: 40%;
}

.home-text h1 {
  font-size: 3rem;
}

.home-text p {
  font-size: 2rem;
  color: var(--blue-color);
  line-height: 1.5;
}

/*** Nav Styles ***/
nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

nav a {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--blue-color);
  transition: 0.3s ease-in-out;
}

/*** Active State ***/
.active {
  color: var(--blue-color);
}

/*** Overall Box Section Styles ***/
.box-container {
  display: flex;
  flex-direction: column;
}

/*** Overall About, Clients, Contact Styles ***/
.about-box,
.clients-box,
.contact-box {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 100%;
  /* Initially off-screen */
  transition: top 1s ease;
  background-color: rgb(31, 31, 31);
}

/*** About Box Styles ***/

.blue-text {
  color: var(--blue-color);
}

.gray-text {
  color: rgb(181, 181, 181);
}

.about {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 70%;
}

.about img {
  border-radius: 50%;
  width: 300px;
}

.here:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*** LOGO SCROLL ***/
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background-color: var(--background-color);
  white-space: nowrap;
  position: relative;
  margin-bottom: 70px;
  width: 100vw;
}

.logos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.logos-slide img {
  width: 100px;
  height: 100px;
  margin: 0 40px;
}

.logos-mobile-container {
  display: none;
}

/*** PROJECT STYLES ***/
.clients {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.clients-inner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.clients-logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.client-logo {
  width: 200px;
}

/*** CONTACT STYLES ***/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding: 40px;
}

.contact form button {
  width: 150px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: var(--text-color);
  padding: 12px;
  font-size: 1rem;
  border: 2px solid var(--text-color);
  background-color: var(--blue-color);
}

.contact form button:hover {
  cursor: pointer;
  filter: brightness(85%);
  transition: 0.3s ease-in-out;
}

.label-input-container {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  color: #000;
  padding: 6px;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/*** MOBILE STYLES ***/

@media (max-width: 600px) {
  
  .home-text img {
    margin-top: 30px;
    width: 100%;
  }

  .home-text h1 {
    font-size: 2.5rem;
  }

  .home-text p {
    font-size: 2rem;
  }

  /*** ABOUT MOBILE STYLES ***/
  .about h1 {
    /* display: none; */
    font-size: 1.5rem;
  }

 

  .about img {
    width: 200px;
  }


  /*** CONTACT MOBILE STYLES ***/
  .contact form {
    width: 100%;
  }

  .logos {
    overflow: hidden;
    padding: 30px 0;
    background-color: var(--background-color);
    white-space: nowrap;
    position: relative;
    margin-bottom: 70px;
    width: 100vw;
  }

  .logos img {
    width: 50px;
    height: 50px;
  }
  


}
